<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>

<body>
    <div class="register-wrapper">
        <h2>회원가입</h2>
        <form method="post" action="/register" id="register-form">
            <div>
                <label>이 름 : </label>
                <input type="text" name="name" placeholder="Name">

            </div>
            <div>
                <label>아 이 디 : </label>
                <input type="text" name="username" id="username" placeholder="ID">
                <input type="button" id="checkUsername" value="중복검사" onclick="vaildId()"><br/>
                <div>
                    <span id="resultCkechUsername" style="font-size:12px;"></span>
                </div>
            </div>
            <div>
                <label>비밀번호 : </label>
                <input type="text" id="password" name="password" placeholder="Password">
            </div>
            <button type="submit">회원가입</button>
        </form>
    </div>
    <script src="//code.jquery.com/jquery-latest.min.js"></script>
    <script>

    function vaildId() {
        console.log(1);
        let username = $("#username").val();

        $.ajax({
        type: 'post', //post 형식으로 controller 에 보내기위함!!
        url: "/checkUsername.do", // 컨트롤러로 가는 mapping 입력
        data: { "username": username }, // 원하는 값을 중복확인하기위해서  JSON 형태로 DATA 전송
        success: function (data) {
            if (data == "Y") { // 만약 성공할시
                result = "사용 가능한 아이디입니다.";
                $("#resultCkechUsername").html(result).css("color", "green");
                $("#password").trigger("focus");

            } else { // 만약 실패할시
                result = "이미 사용중인 아이디입니다.";
                $("#resultCkechUsername").html(result).css("color", "red");
                $("#username").val("").trigger("focus");
            }

        },
        error: function (error) { alert(error); }
        })
    }


    </script>
</body>

</html>